[submodule "charts/kutt"]
path = charts/kutt
url = https://github.com/rgarrigue/helm-chart-kutt
[submodule "charts/httpbin"]
path = charts/httpbin
url = https://github.com/rgarrigue/helm-chart-httpbin
